*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #89AEDD;
    padding: 20px;
    width: 100%;
    
    
    
    
}
header nav ul {
    list-style-type: none;
}

section{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}

#mensaje{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #92c5fc;
    text-align: center;
}
img {
    width: 100px;
    height: auto ;
    padding-top: 30px;
    padding-bottom: 10px; 
   
}

nav{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#buscar input{
    padding: 5px;
    width: 220px;
}

#buscar button{
    padding: 5px 10px;
    color: #89AEDD;
}

#saludo{
    font-family: 'Roboto';
    /*margin-right: 350px;*/
    font-size: 1.5rem;
    
}
#curso{
    /*display: inline;*/
    /*float: left;
    margin-left: 100px;*/
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    /*width: 200px;*/
}
#curso span{
    font-size: 1rem;
}

.tarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: space-around;

}

.tarjetas , .tarjeta{
    list-style-type: none;
    font-family: sans-serif;
  
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*position: relative;*/
    /*margin-top: 0;*/
    /*margin-left: 20px;*/
    /*display: inline-block;*/
    background-color: #F5F5F5;
    width: 200px;
    height: 220px;
    /*text-align: center;*/
    /*vertical-align: top;*/
    margin-bottom: 20px;
    transition: background-color 0.3s; 
    padding: 15px;
}

.tarjeta:hover {
    background-color: #99c5dd; 
    transform: scale(1.1) rotate(5deg); 
}

.tarjeta img {
    width: 100px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0;
    transition: transform 0.3s; 
}

.tarjeta p {
    margin-top: auto;
    /*position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    width: 200px;*/
    font-size: 1.2rem;
    transition: transform 0.3s;
}



footer{
    width: 100%;
    margin-top: 30px;
    background-color: #92c5fc;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}



.container {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    height: 100%;
    padding-top: 10%;
    align-items: flex-end;
  }
  

  
  .foto {
    border-top-left-radius: 50px;
    padding: 0%;
    width: 300px;
    height: auto;
    
   
  }
  
  .perfil {
    
    height: 294px;
    border: 2px solid black;
    width: 60%;
    padding: 0px 0 0 20px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    box-shadow: 5px 5px 0px gray;
    background-color: transparent;
    
    
  }

  .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 150px;
    
    
    
  }

h1{color: orange;
margin-top: 20px;}
a{color: orange;}
a:visited{color: red;}

.favoritos, .contacto{
    margin-top: 10px;
    margin-left: 30px;
    
}

.perfil p{
    margin-top: 10px;
}

.filtro{
    display: none;
}

/* Media query para dispositivos móviles (320px - 480px) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    header nav ul{
    display: flex;
    flex-direction: column;
    
    
    }

    #saludo{
        margin-bottom: 10px;

    }

    #curso{
        margin-bottom: 10px;
    }
    .tarjetas{
        display: flex;
        flex-direction: column;
    }
    .tarjeta{
        width: 80%;
        height: 300px;
    }
    .tarjeta img{
        width:150px;
        height: auto;
    }


    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .perfil{
        width: 85%;
        height: auto;
        font-size: 1rem;
        padding-right: 10px;
        
    }
    .foto{
        width: 93%;
    }
    
    .perfil p{
        text-align: justify;
    }
    .favoritos, .contacto{
        margin-top: 10px;
        margin-left: 0px;
        
    }
    .profile{
        flex-direction: column;
    }
 }

 /* Media query para iPads y tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .perfil{
        width: 88%;
        height: auto;
        font-size: 1rem;
        padding-right: 10px;
        
    }
    .foto{
        width: 93%;
    }
    
    .perfil p{
        text-align: justify;
    }
    .favoritos, .contacto{
        margin-top: 10px;
        margin-left: 0px;
        
    }
  }